body {
  background-color: black;
}

div {
  color: white;
}

p {
  color: white;
  text-align: center;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 16px;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.gameFooter {
  text-align: center;
  font-size: large;
  margin: 16px;
}

/* condidionals */

.lose {
  background-color: red;
  text-align: center;
  color: black;
}

.win {
  background-color:  green;
  text-align: center;
  color: black;
}

.draw {
  background-color:  rgb(128, 128, 128);
  text-align: center;
  color: black;
}

